/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Ubuntu", sans-serif;
  color: #5e6164;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Russo One", sans-serif;
  color: #23293b;
}
h2 {
  font-size: 3.2rem;
}
@media (max-width: 500px) {
  h2 {
    font-size: 2.8rem;
  }
}
h3 {
  font-size: 2.8rem;
}
@media (max-width: 500px) {
  h3 {
    font-size: 2.2rem;
  }
}
p {
  font-size: 1.6rem;
  line-height: 1.4;
}
@media (max-width: 500px) {
  p {
    font-size: 1.3rem;
  }
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.main-navigation {
  width: 100%;
  height: 90px;
  padding: 8px;
  background: #f6f6f6;
  border-bottom: 2px solid #d8d8d8;
  position: fixed;
  margin-top: -90px;
  opacity: 0.8;
}
.main-navigation .nav-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}
@media (max-width: 500px) {
  .main-navigation .nav-container {
    justify-content: center;
    padding: 12px;
  }
}
.main-navigation .nav-container .logo-heading {
  color: #000000;
}
@media (max-width: 500px) {
  .main-navigation .nav-container .logo-heading {
    font-size: 3rem;
  }
}
.main-navigation .nav-container nav {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}
@media (max-width: 500px) {
  .main-navigation .nav-container nav {
    width: 80%;
  }
}
.main-navigation .nav-container nav a {
  color: #181a20;
  text-decoration: none;
  font-size: 1.4rem;
}
footer {
  color: #22283b;
  background: #f4f4f4;
  padding: 20px 0;
  border: 1px double #e0e0e0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 500px) {
  footer {
    margin: 3% 1% 3% 1%;
  }
}
.home .intro {
  margin-top: 90px;
}
.home .intro .head-img {
  border-radius: 5px;
}
@media (max-width: 500px) {
  .home .intro .head-img {
    width: 100%;
    object-fit: scale-down;
  }
}
.home .intro h2 {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .intro h2 {
    margin: 0% 2% 0% 2%;
  }
}
.home .intro p {
  padding: 0 15px;
}
@media (max-width: 500px) {
  .home .intro p {
    margin: 0% 2% 0% 2%;
  }
}
.home .space-images {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
@media (max-width: 500px) {
  .home .space-images {
    flex-flow: column nowrap;
    align-items: center;
  }
}
@media (max-width: 500px) {
  .home .space-images .sky {
    display: none;
  }
}
@media (max-width: 500px) {
  .home .space-images .launch {
    display: none;
  }
}
.home .space-images img {
  width: 28%;
  margin: 20px 2.5%;
  border-radius: 20px;
  height: 100%;
}
@media (max-width: 500px) {
  .home .space-images img {
    width: 90%;
  }
}
.home .visit-planets {
  padding: 15px;
}
@media (max-width: 500px) {
  .home .visit-planets {
    width: 90%;
  }
}
.home .visit-planets h3 {
  margin-top: 11px;
}
.home .visit-planets p {
  margin-top: 13px;
}
.home .walk {
  margin-top: 60px;
  border-top: 1px solid #dee2e6;
  padding: 50px 60px;
  display: flex;
  justify-content: center;
}
@media (max-width: 500px) {
  .home .walk {
    margin-top: 40px;
    flex-direction: column;
    width: 90%;
    align-items: center;
    padding: 5px;
    margin-left: 5%;
  }
}
.home .walk .walk-text {
  width: 50%;
}
@media (max-width: 500px) {
  .home .walk .walk-text {
    width: 100%;
  }
}
.home .walk .walk-text h3 {
  margin-bottom: 10px;
}
.home .walk .walk-text p {
  margin-bottom: 26px;
}
.home .walk .walk-text .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 100px;
  height: 35px;
  background-color: #22283a;
  color: #f6f7f8;
  cursor: pointer;
  font-size: 1.6rem;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
  }
}
.home .walk .walk-text .btn:hover {
  background: #f6f6f6;
  color: #22283a;
  border: 2px solid #22283a;
}
@media (max-width: 500px) {
  .home .walk .walk-text .btn {
    border-radius: 5px;
    width: 100%;
    height: 70px;
    background-color: #22283a;
    color: #f6f7f8;
    cursor: pointer;
    font-size: 1.6rem;
  }
  .home .walk .walk-text .btn:hover {
    background: #f6f6f6;
    color: #22283a;
    border: 2px solid #22283a;
  }
}
@media (max-width: 500px) and (max-width: 500px) {
  .home .walk .walk-text .btn {
    width: 100%;
  }
}
.home .walk .walk-img {
  width: 46%;
  margin-left: 4%;
}
@media (max-width: 500px) {
  .home .walk .walk-img {
    width: 100%;
    margin: 3% 0% 2% 0%;
    order: -1;
  }
}
.home .walk .walk-img img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
